.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.non-btn{
    cursor: unset!important;
    &:hover,&:focus,&:active,&:focus:active{
        color: #212529!important;
        background-color: rgba(black,.03)!important;
        border-color: rgba(black,.125)!important;
        box-shadow: unset!important;
    }
}

.ad-card-body{
    background-color: rgba(black,.2)
}